In [30]:
!pip install duckdb

import duckdb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: duckdb in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from duckdb) (1.21.6)

In [31]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### READ DATABASE

In [32]:
con = duckdb.connect(database='/content/drive/MyDrive/projecteADSDB/formatted/formatted.duckdb', read_only=True)

In [33]:
tables = con.execute("SHOW TABLES").fetchall()
tables = list([t for (t,) in tables])

tables

['Country_Level_Data$1666445932',
 'Governance_Data$1666445932',
 'Olympics_Data$1666445932']

In [34]:
schema = con.execute("SELECT * FROM information_schema.tables").df()
schema

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,NaN,main,Governance_Data$1666445932,BASE TABLE,NaN,NaN,NaN,NaN,NaN,YES,NO,NaN
1,NaN,main,Country_Level_Data$1666445932,BASE TABLE,NaN,NaN,NaN,NaN,NaN,YES,NO,NaN
2,NaN,main,Olympics_Data$1666445932,BASE TABLE,NaN,NaN,NaN,NaN,NaN,YES,NO,NaN

In [35]:
import itertools
import pandas as pd
tables.sort()

def get_field_sub(x): return x.split('$')[0]

mylist = sorted(tables, key=get_field_sub)
data = dict((x.split('$')[0],list(y)) for x, y in itertools.groupby(tables, get_field_sub))

data

{'Country_Level_Data': ['Country_Level_Data$1666445932'],
 'Governance_Data': ['Governance_Data$1666445932'],
 'Olympics_Data': ['Olympics_Data$1666445932']}

As we can see the formatted zone have different versions of the same datasource.

In [36]:
for ds in data:
  df = con.execute(f'SELECT * FROM {data[ds][0]}').df()
  print(f'\n\n\n ======================== {ds} ========================\n\n')
  print(df.info())

 ======================== Country_Level_Data ========================


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2008 entries, 0 to 2007
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   2008 non-null   int32
 1   city                   2008 non-null   object
 2   iso                    2008 non-null   object
 3   country                2008 non-null   object
 4   region                 2008 non-null   object
 5   olympic_type           2008 non-null   object
 6   population             2008 non-null   float64
 7   GDP_constant_2010_USD  2008 non-null   float64
 8   land_area_km_sq        2008 non-null   int32
 9   notes                  126 non-null    object
 10  population_%           2008 non-null   float64
 11  GDP_%                  2008 non-null   float64
 12  land_area_%            2008 non-null   float64
dtypes: float64(5), int32(2), object(6)
memory usage: 188.4+ KB
None



 ======================== Governance_Data ========================


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7709 entries, 0 to 7708
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   7706 non-null   object
 1   Country Code   7704 non-null   object
 2   Series Name    7704 non-null   object
 3   Series Code    7704 non-null   object
 4   1996 [YR1996]  6876 non-null   float64
 5   2000 [YR2000]  6912 non-null   float64
 6   2004 [YR2004]  7398 non-null   float64
 7   2008 [YR2008]  7488 non-null   float64
 8   2012 [YR2012]  7656 non-null   float64
 9   2016 [YR2016]  7506 non-null   float64
 10  2020 [YR2020]  7542 non-null   float64
dtypes: float64(7), object(4)
memory usage: 662.6+ KB
None



 ======================== Olympics_Data ========================


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8294 entries, 0 to 8293
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              8294 non-null   int32
 1   city              8294 non-null   object
 2   discipline        8294 non-null   object
 3   sport_group       8294 non-null   object
 4   ioc_code          8294 non-null   object
 5   iso_code          8294 non-null   object
 6   country           8294 non-null   object
 7   region            8294 non-null   object
 8   event_sex         8294 non-null   object
 9   participant_type  8294 non-null   object
 10  event             8294 non-null   object
 11  medal             8294 non-null   object
 12  olympic_type      8294 non-null   object
dtypes: int32(1), object(12)
memory usage: 810.1+ KB
None